* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #333; */
  position: fixed;
  /* color: white; */
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.462);

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  color: white;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  /* background-image: linear-gradient(to bottom right, red, red, yellow); */
  background: url(assets/2.jpg);
  /* background-size: contains; */
  background-repeat: no-repeat;
  /* background-blend-mode: multiply; */
}
form {
  width: clamp(400px, 40vw, 50vw);
  /* min-width: 30vw; */
  height: 70%;
  margin: 20px auto;
  padding: 0 20px 10px 20px;
  background: rgba(255, 255, 255, 0.186);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  justify-content: space-between;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.811);
}

.head {
  width: 100%;
  height: 8%;
  color: #fff;
  /* text-align: center; */
  /* background-color: rgba(255, 0, 0, 0.59); */
  border-radius: 3px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  /* position: relative;
  left: 0;
  right: 0; */
  margin-bottom: 25px;
}
label {
  /* margin: 20px 0 20px 0; */
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 5px 0;
  border: none;
  /* background-color: #333; */
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(5px);
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  /* position: relative; */
  /* background-image: url(assets/verified_user_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg); */
  background-repeat: no-repeat;
  background-position: 99%;
}
input:focus {
  outline: none;
}
.submitBtn {
  margin: 20px 0 5px 0;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* background-color: #3492018e; */
  backdrop-filter: blur(1px);
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  /* box-shadow: 0 0 15px 1px; */
  /* text-decoration: dashed; */
  background-color: #306386c5;
  box-shadow: 0 0 5px 1px;
}
.submitBtn:hover {
  background-color: #349201f7;
  box-shadow: 0 0 1px 1px;
  outline: none;
  border: none;
}
#number::-webkit-inner-spin-button {
  appearance: none;
}
small {
  color: red;
  position: relative;
  left: 1px;
  /* display: none; */
  visibility: hidden;
  font-weight: 700;
  /* text-shadow: black; */
  /* background-color: #fff; */
  /* display: inline; */
}
.form_control {
  /* background-color: red; */
  height: auto;
}
